@import url('actividades.css');
@import url('eventos.css');

#seccion-quienes-somos {
    background-color: #e8f5e9;
    border: 2px solid #81c784;
    padding: 15px;
    border-radius: 10px;
}

#seccion-quienes-somos h2 {
    color: #388e3c; 
    font-size: 24px;
    text-align: center;
    margin-top: 0; 
    margin-bottom: 10px; 
}

#seccion-quienes-somos p {
    color: #1b5e20; 
    font-size: 18px;
    line-height: 1.5;
    margin-top: 0; 
    margin-bottom: 0; 
}
